// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/
.site-width {
	margin: auto;
	max-width: $size__site-full;
}

.site-content {
	margin: 9em 0 0;
	line-height: 1.7;
}

/*--------------------------------------------------------------
## Common styles
--------------------------------------------------------------*/
.pb-book-theme {

	.home .pb-btn,
	.pb-btn {
		background-color: $color__background-dark;
		border: 1px solid $color__background-dark;
		color: $color__text-white;
		border-radius: 2px;
		display: inline-block;
		font-family: $font__header;
		font-size: 1.125em;
		font-weight: bold;
		margin: 2em;
		padding: 10px 3em;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: transparent;
			color: $color__text-main;
		}

		&.red {
			background-color: $color__background-button;
			border: 1px solid $color__background-button;

			&:hover {
				background-color: transparent;
				color: $color__background-button;
			}
		}
	}

	&.bg-alt-color {
		background-color: $color__background-alt;
	}

}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.pb-book-theme {

	&.site-header {
		background-color: $color__background-dark;
		color: $color__text-white;

		a {
			color: $color__text-white;
		}
	}

	.pb-branding {
		padding-top: 10px;
		@media screen and (min-width: $size__site-full) {
			float: left;
			width: 20%;
		}

		p {
			font-family: $font__header;
			font-size: 0.875em;
			font-weight: normal;
			margin: 0;
		}
	}

	.pressbooks-logo {
		margin-bottom: 5px;

		a {
			background: url(images/PB-logo.svg) 0 0 no-repeat;
			background-image: url(images/PB-logo.svg), none;
			background-size: 150px 25px;
			display: inline-block;
			height: 25px;
			position: relative;
			width: 150px;
			text-indent: -9999px; 
		}
	}

	.no-svg .pressbooks-logo a {
		background-image: url(images/PB-logo.png);
	}

	.settings-navigation {

		@media screen and (min-width: $size__site-full) {
			float: right;
			text-align: right;
			width: 70%;
		}

		a {
			background-color: darken($color__background-dark, 15%);
			display: inline-block;
			font-family: $font__header;
			font-size: .9375em;
			line-height: 5.333333;
			padding: 0 1.5em;
			text-decoration: none;

			&:hover {
				background-color: darken($color__background-dark, 5%);
			}

			i {
				margin-right: 10px;

				&:before {
					vertical-align: middle;
				}
			}

			i.icon-budicon-2 {
				margin-right: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
## Front page
--------------------------------------------------------------*/
.pb-book-theme  {

	&.book-branding {

		.book-branding-info {
			margin: 0 auto 6.25em;
			max-width: 475px;
			text-align: center;

			@media screen and (min-width: $size__site-med) {
				float: left;
				width: 48%;
			}

			.book-title {
				font-family: $font__header;
				font-size: 2.25em; // 36/16
				font-weight: bold;
				margin-bottom: 0;
				text-align: center;

				a {
					color: $color__text-main;
					text-decoration: none;

					&:hover {
						color: lighten($color__text-main, 10%);
					}
				}
			}

			.book-author {
				font-family: $font__header;
				font-size: 1.125em; // 18/16
				margin-top: 0;

				&:after {
					@include stroke(20%);
				}
			}

			.sub-title {
				font-family: $font__header;
				font-size: 1.5em; // 24/16
				font-weight: bold;
			}

			.book-blurb {
				font-size: 1.25em; // 20/16
				text-align: left;
			}

		}

		.book-cover {
			text-align: center;

			@media screen and (min-width: $size__site-med) {
				float: right;
				width: 52%;
			}

			img {
				margin: auto;
				max-width: 390px;
				height: auto;
			}

		}
	}

	&.book-info {
		font-size: 1.1875em; // 19/16
		padding: 6.25em 0;

		.book-info-description {
			float: left;
			width: 630px;
		}

		.book-info-author {
			float: left;
			margin-left: 100px;
			width: 370px;
		}

		h3 {
			font-family: $font__header;
			font-size: 1.263157895em; // 24/19
			margin-bottom: 2em;
			padding-bottom: 0;
		}

		.entry-content {
			margin-top: 0;
			padding-top: 0;

			p {
				margin-top: 0;
			}
		}
	}

	.sharrre-wrap {
		margin-top: 2em;

		.sharrre {
			float: left;
			font-family: $font__header;
			font-size: .875em;
			margin-right: 1em;

			a {
				color: $color__text-white;
				display: inline-block;
				padding: 10px 20px;
				text-decoration: none;
			}

			.share {
				line-height: 1;

				&:before {
					font-family: "pb-book-theme" !important;
					font-style: normal !important;
					font-weight: normal !important;
					font-variant: normal !important;
					text-transform: none !important;
					speak: none;
					line-height: 1.2;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					vertical-align: bottom;
				}
			}
		}

		// Twitter
		#twitter {
			background-color: #00abf0;

			.share {

				&:before {
					content: "c";
				}
			}

			.count {
				background-color: darken(#00abf0, 10%);
			}
		}

		// Facebook
		#facebook {
			background-color: #39579a;

			.share {

				&:before {
					content: "d";
				}
			}

			.count {
				background-color: darken(#39579a, 10%);
			}
		} // #facebook

		// Google +
		#googleplus {
			background-color: #df4a32;

			.share {

				&:before {
					content: "e";
				}
			}

			.count {
				background-color: darken(#df4a32, 10%);
			}
		} // #googleplus
	} 

	&.boc-toc {
		padding: 6.25em 0 9em;
	}
}

.pb-book-theme {

	&.book-toc {
		font-family: $font__main;
		padding: 6.25em 0 9em;

		h2 {
			font-family: $font__header;
			font-size: 2.25em; // 36/16
			font-weight: bold;
			margin-bottom: 3em;
			text-align: center;
		}

		.table-of-contents,
		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			-moz-column-gap:      3em;
			-webkit-column-gap:   3em;
			column-gap:           3em;
			-moz-column-width:    20em;
			-webkit-column-width: 20em;
			column-width:         20em;
		}
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.pb-book-theme {
	font-family: $font__main;

	h1, h2, h3, h4, h5, h6 {
		font-family: $font__header;
		font-style: normal;
		font-variant: normal;
		line-height: 1.2;
		margin-bottom: 5px;
		padding-bottom: 0;
	}

	p {
		margin-bottom: 1em;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/*--------------------------------------------------------------
## Search widget
--------------------------------------------------------------*/
.widget_search .search-submit {
	display: none;
}


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: $color__background-dark;
	color: $color__text-white;
	font-family: $font__header;
	padding: 4em 0;
	text-align: center;

	a {
		color: $color__text-white;
		text-decoration: none;

		&:hover {
			color: darken($color__text-white, 20%);
		}
	}

	.site-info {
		font-size: .875em;

		p {
			margin: 0;
		}
	}

}
