
/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/
.site-width {
	margin: auto;
	max-width: $size__site-full;
}
.site-width-inner {
	margin: auto;
	max-width: 660px;
}

.site-content {
	margin: 9em 0 0;
	line-height: 1.7;
}

/*--------------------------------------------------------------
## Common styles
--------------------------------------------------------------*/
.pb-book-theme {

	.home .pb-btn,
	.pb-btn {
		background-color: $color__background-dark;
		border: 1px solid $color__background-dark;
		color: $color__text-white;
		border-radius: 2px;
		display: inline-block;
		font-family: $font__header;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bold;
		margin: 2em;
		padding: 10px 3em;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: transparent;
			color: $color__text-main;
		}

		&.red {
			background-color: $color__background-button;
			border: 1px solid $color__background-button;

			&:hover {
				background-color: transparent;
				color: $color__background-button;
			}
		}
	}

	&.bg-alt-color {
		background-color: $color__background-alt;
	}
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.pb-book-theme {

	&.site-header {
		background-color: $color__background-dark;
		color: $color__text-white;

		a {
			color: $color__text-white;
		}
	}

	.pb-branding {
		padding-top: 10px;
		@media screen and (min-width: $size__site-full) {
			float: left;
			width: 20%;
		}

		p {
			font-family: $font__header;
			font-size: 16px;
			font-size: 0.875rem;
			font-weight: normal;
			margin: 0;
		}
	}

	.pressbooks-logo {
		margin-bottom: 5px;

		a {
			background: url(images/PB-logo.svg) 0 0 no-repeat;
			background-image: url(images/PB-logo.svg), none;
			background-size: 150px 25px;
			display: inline-block;
			height: 25px;
			position: relative;
			width: 150px;
			text-indent: -9999px; 
		}
	}

	.no-svg .pressbooks-logo a {
		background-image: url(images/PB-logo.png);
	}

	.settings-navigation {

		@media screen and (min-width: $size__site-full) {
			float: right;
			text-align: right;
			width: 70%;
		}

		a {
			background-color: darken($color__background-dark, 15%);
			display: inline-block;
			font-family: $font__header;
			font-size: 15px;
			font-size: .9375rem;
			line-height: 5.333333;
			margin-right: -1px;
			padding: 0 1.5em;
			text-decoration: none;

			&:hover {
				background-color: darken($color__background-dark, 5%);
			}

			i {
				margin-right: 10px;

				&:before {
					vertical-align: middle;
				}
			}

			i.icon-budicon-2 {
				margin-right: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
## Front page
--------------------------------------------------------------*/
.pb-book-theme  {

	&.pb-book-branding {

		.pb-book-branding-info {
			margin: 0 auto 6.25em;
			max-width: 475px;
			text-align: center;

			@media screen and (min-width: $size__site-med) {
				float: left;
				width: 48%;
			}

			.pb-book-title {
				font-family: $font__header;
				font-size: 36px;
				font-size: 2.25rem; // 36/16
				font-weight: bold;
				margin-bottom: 0;
				text-align: center;
				text-transform: none;

				a {
					color: $color__text-main;
					text-decoration: none;

					&:hover {
						color: lighten($color__text-main, 10%);
					}
				}
			}

			.pb-book-author {
				font-family: $font__header;
				font-size: 18px;
				font-size: 1.125rem; // 18/16
				margin-top: 0;

				&:after {
					@include stroke(20%);
				}
			}

			.pb-sub-title {
				font-family: $font__header;
				font-size: 42px;
				font-size: 1.5rem; // 24/16
				font-weight: bold;
			}

			.pb-book-blurb {
				font-size: 20px;
				font-size: 1.25rem; // 20/16
				text-align: left;
			}

		}

		.pb-book-cover {
			text-align: center;

			@media screen and (min-width: $size__site-med) {
				float: right;
				width: 52%;
			}

			img {
				margin: auto;
				max-width: 390px !important;
				height: auto;
			}

		}
	}

	&.pb-book-info {
		font-size: 19px;
		font-size: 1.1875rem; // 19/16
		padding: 5em 0;

		.pb-book-info-description {
			float: left;
			width: 630px;
		}

		.pb-book-info-author {
			float: left;
			margin-left: 100px;
			width: 370px;

			h3 a {
				border-bottom: 1px dotted $color__link;
				padding-bottom: .35em;
				text-decoration: none;
			}
		}

		h3 {
			font-family: $font__header;
			font-size: 24px;
			font-size: 1.5rem; // 24/19
			margin-bottom: 2em;
			padding-bottom: 0;
		}

		.entry-content {
			margin-top: 0;
			padding-top: 0;

			p {
				margin-top: 0;
			}
		}
	}

	&.pb-book-toc {
		font-family: $font__main;
		padding: 5em 0;

		h2 {
			font-family: $font__header;
			font-size: 36px;
			font-size: 2.25rem; // 36/16
			font-weight: bold;
			margin-bottom: 0;
			text-align: center;
		}

		h4 {
			font-size: 18px;
			font-size: 1.125rem;
			font-weight: bold;
			margin-bottom: 15px;
		}

		li h4 {
			margin-top: 30px;
		}

		.chapter {
			margin-bottom: 7px;
		}

		.pb-table-of-contents,
		ul {
			font-family: $font__main;
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			-moz-column-gap:      3em;
			-webkit-column-gap:   3em;
			column-gap:           3em;
			-moz-column-width:    20em;
			-webkit-column-width: 20em;
			column-width:         20em;

			a {
				font-family: $font__main;
				text-decoration: none;
			}
		}
	} // pb-book-toc
}//pb-book-theme

.pb-book-single-toc {
	display: none;
	padding-top: 3em;

	h2 {
		font-family: $font__header;
		font-size: 36px;
		font-size: 2.25rem; // 36/16
		font-weight: bold;
		margin-bottom: 0;
		text-align: center;
		font-variant: normal;
	}

	ul {
		list-style: none;

		-moz-column-gap:      3em;
		-webkit-column-gap:   3em;
		column-gap:           3em;
		-moz-column-width:    20em;
		-webkit-column-width: 20em;
		column-width:         20em;
	}
}

/*--------------------------------------------------------------
## Share buttons
--------------------------------------------------------------*/
#share {
	margin: 2em 0 6em;
	overflow: hidden;

	.sharrre {
		float: left;
		font-family: $font__header;
		font-size: 14px;
		font-size: .875rem;
		margin-right: 1em;

		a {
			color: $color__text-white;
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
		}

		.share {
			line-height: 1;

			&:before {
				font-family: "pb-book-theme" !important;
				font-style: normal !important;
				font-weight: normal !important;
				font-variant: normal !important;
				text-transform: none !important;
				speak: none;
				line-height: 1.2;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				vertical-align: bottom;
			}
		}
	}

	// Twitter
	#twitter {
		background-color: #00abf0;

		.share {

			&:before {
				content: "c";
			}
		}

		.count {
			background-color: darken(#00abf0, 10%);
		}
	}

	// Facebook
	#facebook {
		background-color: #39579a;

		.share {

			&:before {
				content: "d";
			}
		}

		.count {
			background-color: darken(#39579a, 10%);
		}
	} // #facebook

	// Google +
	#googleplus {
		background-color: #df4a32;

		.share {

			&:before {
				content: "e";
			}
		}

		.count {
			background-color: darken(#df4a32, 10%);
		}
	} // #googleplus
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.pb-book-theme {
	font-family: $font__main;

	h1, h2, h3, h4, h5, h6 {
		font-family: $font__header;
		font-style: normal;
		font-variant: normal;
		line-height: 1.2;
		margin-bottom: 5px;
		padding-bottom: 0;
		text-transform: none;
	}

	p {
		margin-bottom: 1em;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Single
--------------------------------------------------------------*/
.single {
	.pb-book-theme.pb-book-branding .pb-book-branding-info {
		float: none;
		width: 100%;

		a {
			text-decoration: none;
		}
	}


}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.pb-book-theme-comments {
	margin: 0 0 5em;
	padding: 0 0 3em;

	ol {
		list-style: none;
		margin: 0;
		padding: 0;

		.comment {
			background-color: $color__background-alt;
			padding: 2em;

			.bypostauthor {
				background-color: lighten($color__background-button, 57%);
				display: block;
			}
		}

	}

	.children {
		padding: 3em 0  0 0;

		.comment {
			background-color: #fff;

			.comment {
				background-color: $color__background-alt;
			}
		}
	}

	.comments-title {
		margin-bottom: 2em;
	}

	.comment {
		margin-bottom: 3em;
	}

	.avatar {
		float: left;
		margin: 0 2em 2em 0;
	}

	.comment-author {
		font: 1.25em $font__header;
		margin-bottom: 5px;

		a {
			text-decoration: none;
		}
	}

	.comment-metadata {
		font: .875em $font__header;
		margin-bottom: 20px;

		a {
			color: $color__link;
			text-decoration: none;
		}
	}

	.comment-content,
	.reply {
		margin-left: 140px;
	}

	.reply {
		text-align: right;

		a {
			font: .875em $font__header;
			text-decoration: none;
		}
	}
}

.comment-list {
	list-style: none;
}

.comment-content a {
	word-wrap: break-word;
}

.comment-respond {
	background-color: $color__background-alt;
	margin-top: 5em;
	padding: 2em;
}

.form-allowed-tags {
	color: $color__link;
	font-size: .75em;

	code {
		font-size: 1em !important;
	}
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: $color__background-dark;
	color: $color__text-white;
	font-family: $font__header;
	padding: 4em 0;
	text-align: center;

	a {
		color: $color__text-white;
		text-decoration: none;

		&:hover {
			color: darken($color__text-white, 20%);
		}
	}

	.site-info {
		font-size: 14px;
		font-size: .875rem;

		p {
			margin: 0;
		}
	}

}
